<section id="about-me">
  <div class="container">
    <div class="about-me-content">
      <h2 class="section-title">About Me</h2>
      <p class="section-text">
        Hello! I’m Tamara Bokotej, an artist who turns emotions into colors. My
        art is for those looking for more than just a painting – it’s a
        reflection of the inner world, inspired by nature, people, and timeless
        moments. I believe art can speak without words, and each of my works is
        a story ready to be told.
      </p>
    </div>
    <div class="about-me-img">
      <img
        src="/images/about/img-1.jpg"
        alt="portrait of artist Tamara Bokotej"
        class="about-image"
      />
    </div>
  </div>
</section>

