<section id="art-collections">
  <div class="container">
    <div class="collections-header">
        <div class="collections-content">
          <h2 class="section-title collections-title">Art collections</h2>
          <p class="section-text collections-text">
            Explore my collections of paintings, inspired by the world around us.
            Each category reflects a unique perspective on different aspects of life
            — from the majesty of nature to the beauty of human emotions
          </p>
        </div>
        <button class="btn-paintings collections-btn-paintings" type="button">
            <a href="paintings.html" class="btn-paintings-text">View All Paintings</a>
        </button>
    </div>
    <ul class="collections">
      <li class="collection-card">
        <h3>People</h3>
        <p>
          Artistic portraits and scenes reflecting the richness of human
          feelings
        </p>
        <button class="btn-collection" type="button">
          <a href="" class="btn-collection-text">View Collection</a>
        </button>
      </li>
      <li class="collection-card">
        <h3>Animals</h3>
        <p>
          Paintings that capture the magical strength and energy of the animal
          kingdom
        </p>
        <button class="btn-collection" type="button">
          <a href="" class="btn-collection-text">View Collection</a>
        </button>
      </li>
      <li class="collection-card">
        <h3>Nature</h3>
        <p>Landscapes and still lifes that convey the harmony of nature</p>
        <button class="btn-collection" type="button">
          <a href="" class="btn-collection-text">View Collection</a>
        </button>
      </li>
      <li class="collection-card">
        <h3>Flowers</h3>
        <p>
          Vibrant and delicate depictions of flowers, revealing their tenderness
        </p>
        <button class="btn-collection" type="button">
          <a href="" class="btn-collection-text">View Collection</a>
        </button>
      </li>
      <li class="collection-card">
        <h3>Sea</h3>
        <p>The endless beauty of water, captured on canvas</p>
        <button class="btn-collection" type="button">
          <a href="" class="btn-collection-text">View Collection</a>
        </button>
      </li>
      <li class="collection-card">
        <h3>Fruits</h3>
        <p>Juicy and vivid still lifes of fruits that seem to come to life</p>
        <button class="btn-collection" type="button">
          <a href="" class="btn-collection-text">View Collection</a>
        </button>
      </li>
    </ul>
  </div>
</section>
