<footer id="footer">
  <div class="container">
    <div class="footer-contacts">
      <div class="contact-me">
        <h2 class="footer-title">Contact me:</h2>
        <address>
          <a
            href="mailto:tamara.bokotej@gmail.com"
            aria-label="Email Tamara Bokotej"
            class="contact-link"
          >
            tamara.bokotej@gmail.com
          </a>
        </address>
      </div>
      <div class="follow-me">
        <h2 class="footer-title">Follow me:</h2>
        <ul class="social-links">
          <li>
            <a
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Instagram"
            >
              <svg width="40" height="40">
                <title>Instagram</title>
                <use href="/src/assets/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Facebook"
            >
              <svg width="40" height="40">
                <title>Facebook</title>
                <use href="/src/assets/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://www.whatsapp.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="WhatsApp"
            >
              <svg width="40" height="40">
                <title>WhatsApp</title>
                <use href="/src/assets/sprite.svg#icon-whatsapp"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="order-questions">
      <p>
        For order-related questions:
        <a
          href="mailto:tamara.bokotej@gmail.com"
          aria-label="Email for order-related questions"
        >
          tamara.bokotej@gmail.com
        </a>
      </p>
    </div>

    <p class="footer-copyright">© 2024 Tamara Bokotej. All rights reserved.</p>
  </div>
</footer>
