<header id="header">
  <div class="container">
    <a href="/" class="logo">Tamara Bokotej</a>
    <nav class="navigation">
      <ul class="navigation-list">
        <li><a href="/">Home</a></li>
        <li><a href="#about-me">About</a></li>
        <li><a href="#art-collections">Art Collections</a></li>
        <li><a href="paintings.html">View All Paintings</a></li>
        <li><a href="#footer">Contact</a></li>
      </ul>
    </nav>
    <nav aria-label="Language selection" class="language-switcher">
      <ul>
        <li><a href="#" lang="en" hreflang="en">EN</a></li>
        <li><a href="#" lang="cs" hreflang="cs">CZ</a></li>
      </ul>
    </nav>
    <button class="menu-btn" type="button" aria-label="Open navigation menu">
      <svg class="burger-menu" width="24" height="24">
        <use href="/src/assets/sprite.svg#icon-burger-menu"></use>
      </svg>
    </button>
  </div>
</header>
