<div class="menu-backdrop"></div>
<div class="menu">
  <button class="close-menu-button"></button>
  <nav>
    <ul class="mobile-nav-list">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="paintings.html">View All Paintings</a>
      </li>
      <li>
        <a href="paintings.html?category=people">People</a>
      </li>
      <li>
        <a href="paintings.html?category=animals">Animals</a>
      </li>
      <li>
        <a href="paintings.html?category=nature">Nature</a>
      </li>
      <li>
        <a href="paintings.html?category=sea">Sea</a>
      </li>
      <li>
        <a href="paintings.html?category=fruits">Fruits</a>
      </li>
      <li>
        <a href="paintings.html?category=flowers">Flowers</a>
      </li>
      <li>
        <a href="#footer">Contact</a>
      </li>
    </ul>
  </nav>
  <ul class="social-links">
    <li>
      <a
        href="https://www.instagram.com/tamarabokotej"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Instagram"
      >
        <svg width="40" height="40">
          <title>Instagram</title>
          <use href="/src/assets/sprite.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li>
      <a
        href="https://www.facebook.com/tamara.bokotej"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Facebook"
      >
        <svg width="40" height="40">
          <title>Facebook</title>
          <use href="/src/assets/sprite.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li>
      <a
        href="https://wa.me/420774872012"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="WhatsApp"
      >
        <svg width="40" height="40">
          <title>WhatsApp</title>
          <use href="/src/assets/sprite.svg#icon-whatsapp"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
