#about-me {
  min-height: 436px;
  background: url(/src/assets/images/about/bg.jpg) no-repeat center / cover;
  color: var(--text);
}
#about-me .container {
  display: flex;
  align-items: end;
  justify-content: center;
}
@media (min-width: 768px) {
  #about-me .container {
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  #about-me .container {
    justify-content: space-around;
  }
}

.about-me-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  max-width: 310px;
}
.about-me-text {
  text-align: center;
}
@media (min-width: 768px) {
  .about-me-content {
    align-items: start;
    gap: 30px;
    max-width: 350px;
  }
  .about-me-text {
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .about-me-content {
    max-width: 712px;
  }
}

.about-me-img {
  display: none;
  width: 330px;
  height: 330px;
  border-radius: 30px;
  overflow: hidden;
}
@media (min-width: 1440px) {
  .about-me-img {
    width: 450px;
    height: 450px;
  }
}
@media (min-width: 1920px) {
  .about-me-img {
    width: 500px;
    height: 500px;
  }
}
.about-me-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .about-me-img {
    display: block;
  }
}
